<div class="container">
  <div *ngFor="let category of getCourseService().categories">
    <h1
      class="categoryHeading"
      *ngIf="getCourseService().getCourseByCategory(category).length > 0"
    >
      {{ category }}
    </h1>
    <div
      *ngFor="let course of getCourseService().getCourseByCategory(category)"
    >
      <div class="courseContainer">
        <!-- <a class="courseButton" [href]="course.url" target="_blank">{{
          course.name
        }}</a> -->
        <app-course [course]="course"></app-course>
      </div>
    </div>
  </div>
</div>
