<div class="container">
  <div *ngFor="let category of getCourseService().categories">
    <h1
      class="categoryHeading"
      *ngIf="getCourseService().getCourseByCategory(category).length > 0"
    >
      {{ category }}
    </h1>
    <div
      *ngFor="let course of getCourseService().getCourseByCategory(category)"
    >
      <div class="courseContainer">
        <app-course [course]="course"></app-course>
      </div>
    </div>
  </div>
  <p *ngIf="getCourseService().courses.length === 0" style="font-size: 20px">
    <i>No matches</i>
  </p>
  <button
    *ngIf="getCourseService().courses.length > 0"
    class="exportButton"
    (click)="exportMD()"
  >
    Export
  </button>
</div>

<app-export-notification
  *ngIf="showExportNotification"
  (closeNotification)="closeNotification()"
></app-export-notification>
