.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .categoryHeading
    display: flex
    justify-content: center
    margin-bottom: 20px
  .courseContainer
    margin-bottom: 20px
    width: 80%
    &:hover
      .courseButton
        background: #00b6b0
        transform: scale(1.1)
      .metaData
        display: block
    .metaData
      display: none
      position: fixed
      right: 20px
      bottom: 20px
      opacity: 0.5
    .courseButton
      display: flex
      background: #2e3399
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
      transition: 0.3s
      border-radius: 8px
      cursor: pointer
      font-size: 20px
      color: white
      text-decoration: none
      align-items: center
      justify-content: center
      height: 50px
      width: 600px
      padding: 0 20px
