.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .categoryHeading
    display: flex
    justify-content: center
    margin-bottom: 20px
  .courseContainer
    margin-bottom: 20px
    transform: translateX(20%)
  .exportButton
    margin-top: 20px
    margin-bottom: 20px
    border: none
    background: none
    cursor: pointer
    font-size: 20px
    color: white
    padding: 5px
    border-radius: 5px
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
    width: 100px
    background: #2e3399
    text-align: center
    &:hover
      background: #00b6b0
      box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
      scale: 1.1

@media screen and (max-width: 600px)
  .container
    .categoryHeading
      font-size: 25px
      margin-bottom: 15px
    .courseContainer
      margin-bottom: 20px
      transform: translateX(5%)
    .exportButton
      &:hover
        background: #2e3399
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
        scale: 1
